.logo {
  height: 70px;
}

.nav-link {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-link:hover {
  text-decoration: underline 4px #e76f51;
}

#home-link {
  text-decoration: none;
}

.MuiAppBar-colorPrimary {
  background-color: #fff !important;
}

@media only screen and (max-width: 600px) {
  .MuiAppBar-root {
    flex-direction: row !important;
  }
  .logo {
    height: 50px;
  }
}
@media (max-width: 360px) {
  .logo {
    height: 35px;
  }
}
